<div id="header-box">
	<div id="header">
	<%= link_to "Octopus >> GURPS Character Sheet", "/" %>
	<br/>
	For destructive actions you'll be asked for login:password, put 'test' for both.
	</div>
</div>