<div id="menu-box">
<ul id="menu" class="clearfix">
  <li class="first"><%= link_to 'Home', "/" %></li>
  <li><%= link_to 'New Character', new_character_path %></li>
  <li><%= link_to 'All Characters', controller:'characters' %></li>
  <li><a href="#">items (nonf)</a></li>
  <li class="last"><a href="#">logout (nonf)</a></li>
</ul>
</div>