<div class="container">
	<div class="center_div">

<table>
<th>Name</th>
<th>Age</th>
<th>Description</th>
<tr>
  <td><%= @character.name %></td>
  <td><%= @character.age %></td>
  <td><%= @character.description %></td>
</tr>
</table>

	</div>
</div>


